#content .TOUR-SECTION {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    background-color: white;
}

.tickets-list li {
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;

}

.tickets-list .sold-out {
    display: inline-block;
    background-color: red;
    color: white;
    margin: 0 0 0 16px;
    padding: 3px 8px;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    float: right;
    border-radius: 50px;
    font-size: 15px;
}

#content .places-list {
    margin-top: 32px;
    /* display: flex; */
    /* justify-content: space-between; */
}

#content .places-img:hover {
    opacity: 0.6;
}

#content .places-body {
    background-color: white;
    padding: 0px 16px 0 16px;
    font-size: 15px;
}

#content .places-heading {
    font-weight: bold;
    padding: 15px;
}

#content .places-time {
    margin: 15px 0;
    color: #757575
}

#content .places-desc {
    margin: 15px 0;
}

#content .places-buy-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 16px;
    margin: 0 0 16px;
    text-decoration: none;
    border: none;
}

.places-img {
    width: 100%;
    display: block;
}

