.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;        
        transform: translateY(0); 
    }
}

.modal .modal-container {
    background-color: white;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.4s;
}

.modal .modal-header-container {
    background-color: #009688;
    padding: 32px 16px;
}

.modal .modal-header {
    height: 45px;
    font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin: 10px 0;
}
.modal .modal-heading-icon::before {
    margin-right: 16px;
}

.modal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    padding: 16px;
}

.modal .modal-close:hover {
    background-color: #ccc;
    cursor: pointer;
}

.modal .modal-body {
    padding: 0.15px 16px;
    position: relative;
}

.modal .modal-input,
.modal .modal-label {
    display: block;
}

.modal .modal-label {
    margin: 15px 0;
    font-weight: 700;
    margin-bottom: 12px;
}

.modal .modal-input  {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 24px;
}

.modal .buy-tickets {
    margin: 16px 0;
    padding: 16px;
    background-color: #009688;
    width: 100%;
    border: 0;
}

.modal .buy-tickets:hover {
    opacity: 0.8;
}

.modal .modal-body-check-icon,
.modal .buy-tickets {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.modal .modal-label,
.modal .modal-input {
    font-size: 15px;
}

.modal .modal-footer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.modal .modal-help {
    margin: 15px 0;
    line-height: 1.5;
}
